* {
    box-sizing: border-box;
}
.row::after {
    content: "";
    clear: both;
    display: table;
}
[class*="col-"] {
    float: left;
    padding-bottom: 15px;
}

table {
    border-collapse: collapse;
}

th {
  width: 30%;
}

td {
  width: 30%;

}
table, th, td {
    border: 1px solid white;
}
html{
    background-color: white;
    font-family: 'Open Sans', sans-serif;
}
body{
    margin:0;
    padding:0;
}
ul{
    list-style-type:none;
}
h1{
    text-align: center;
}
img {
    max-width: 100%;
    height: auto;
    padding:0;
    margin: 0;
}

.foto{
    margin:0.1%;
}

.logo {
  float:left;
  margin-left: 4px;
  width: 140px;

}

.projectimg{
    float: right;
    width: 25%;
    height: 30%;
    border: yellowgreen 1px solid;
}
.copyright{
 font-size: 1em;
 text-align: center;
}
.navtitel{
    font-weight: bold;
}
.header {
    background-color: #666;
    color: #ffffff;
    padding: 0;
}
.menu ul {
    list-style-type: none;
    background-color: white;
    text-align: center;
    margin: 0;
    padding: 0;
    cursor: pointer;
}
.menu li {
    padding: 4px;
    margin-bottom: 7px;
    background-color: white;
    color: black;
    display: inline-block;
    margin-right: 130px;
    width: 6%;
}

.menu li a {
  color: #666;
}
.menu li :hover {
  width:10px;
  background-color: #f2f2f2;
}
/*.vl-1{
    background-color: #444;
    font-size: 1em;
    text-align: left;
    margin-bottom: 5px;
}
.vl-2{
    background-color: #888;
    font-size: 1em;
    margin-bottom: 5px;
}*/

.content {
    border: 1px solid #666;
    padding: 15px;
    color: #666;
    text-align: left;
    font-size: 1em;
}
.social{
    text-align: center;
    padding:2px;
}
a{
    text-decoration: none;
    color: mediumpurple;
}

/*producten pagina*/

.cart{
  margin-top: 200px;
}
.submitbutton {
   background-color: #0080ff;
   color:white;
   border-radius: 4px;
   border: none;
   padding: 10px;
}


/*winkelmandje*/

.continue {
  background-color: #0080ff;
  color:white;
  border-radius: 4px;
  border: 1px solid #0080ff;
  padding: 10px;
}
.footer {
    background-color: black;
    color: #ffffff;
    text-align: left;
    font-size: 1.4em;
    padding: 15px;
    font-family: 'Open Sans', sans-serif;
    margin-top: 300px;
}
/* For mobile phones: */
[class*="col-"] {
    width: 100%;
}
@media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-m-1 {width: 8.33%;}
    .col-m-2 {width: 16.66%;}
    .col-m-3 {width: 25%;}
    .col-m-4 {width: 33.33%;}
    .col-m-5 {width: 41.66%;}
    .col-m-6 {width: 50%;}
    .col-m-7 {width: 58.33%;}
    .col-m-8 {width: 66.66%;}
    .col-m-9 {width: 75%;}
    .col-m-10 {width: 83.33%;}
    .col-m-11 {width: 91.66%;}
    .col-m-12 {width: 100%;}

}
@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}
